<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="FUll regression">
        <classes>
            <class name="com.naveencrm.tests.LoginPageTest"></class>
            <class name="com.naveencrm.tests.HomePageTest"></class>
            <class name="com.naveencrm.tests.ContactsPageTest"></class>
        </classes>
    </test>
</suite>